@font-face {
  font-family: bitpotion;
  src: local('bitpotion'), url(./fonts/BitPotionExt.ttf) format('truetype');
}

.App-header {
  min-height: 100vh;
}

html{
  background-color: #282c34;
}

.atr-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes gear-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .gear-img {
    animation: gear-spin infinite 10s linear;
  }
}

.gear-img {
  height: 20vmin;
  pointer-events: none;
}
