#error{
  padding-top: 20px;
  color: #de5f5f;
}

div#email-field{
  padding-bottom: 10px;
}

div#password-field{
  padding-bottom: 10px;
}

.loginpage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}
